

* {
	box-sizing: border-box;
}
@font-face{
	font-family: "Segoe ui historic", sans-serif;
	src: url(/font/Segoe-ui-historic.ttf);
}

body {

	margin: 0;
	font-family: "Segoe ui historic", sans-serif !important;
	padding-left: 240px;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, a, span{
    margin-bottom: .5rem;
    font-family: "Segoe ui historic", sans-serif !important;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none !important;
	margin: 15px 0;
}
a :hover{
	color: rgb(255, 255, 255);
}

.button, .btn {
	font-family: "Segoe ui historic", sans-serif;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.button:active {
	transform: scale(0.95);
}

.button:focus {
	outline: none;
}

.button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}



input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.form_outer {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    text-align: center;
    vertical-align: baseline;
    padding: 52px;
}

#login-outer{
    background-image: url("img/19952.jpg");
    background-size: cover;
    width: 100%;
	max-width: 100%;
	height: 100vh;
	padding-right: 0px;
    padding-left: 0px;
}
#login-index{
    background-color: rgba(255, 255, 255, 0.603);
	width: 100%;
	padding: 10%;
	height: -webkit-fill-available;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: baseline;


}
.form_outer{
}




footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

  main {
	position: relative;
  }
  main .helper {
    position: relative;
    border-radius: 20px;
}
  main .helper span {
	color: rgba(0, 0, 0, 0.2);
	font-size: 0.4em;
	display: block;
  }
  .menu {
	background: #5bc995;
	height: 100vh;
	width: 240px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	outline: none;
  }
  .emp-list-image img{
	width: 150px;
    border-radius: 5px;
  }
  .menu .avatar {
	background: rgba(0, 0, 0, 0.1);
	padding: 2em 0.5em;
	text-align: center;
  }
.menu .avatar img {
	width: 100px;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid #ffea92;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
	height: 100px;
}
  .menu .avatar h2 {
	font-weight: normal;
	margin-bottom: 0;
  }
  .menu ul {
	list-style: none;
	padding: 0.5em 0;
	margin: 0;
  }
  .menu ul li {
	padding: 0.5em 1em 0.5em 3em;
	font-size: 0.95em;
	font-weight: regular;
	background-repeat: no-repeat;
	background-position: left 15px center;
	background-size: auto 20px;
	transition: all 0.15s linear;
	cursor: pointer;
  }
  .menu ul li.icon-dashboard {
	background-image: url("http://www.entypo.com/images//gauge.svg");
  }
  .menu ul li.icon-customers {
	background-image: url("http://www.entypo.com/images//briefcase.svg");
  }
  .menu ul li.icon-users {
	background-image: url("http://www.entypo.com/images//users.svg");
  }
  .menu ul li.icon-settings {
	background-image: url("http://www.entypo.com/images//tools.svg");
  }
  .menu ul li.icon-logout {
    color: white !important;
    background-color: red;
    width: 100%;
    position: absolute;
    font-size: -18px;
    bottom: 0;
    background-image: url(http://www.entypo.com/images//log-out.svg);
}
.menu ul li.icon-logout a{
    color: white !important;
}
  .menu ul li:hover {
	background-color: rgba(0, 0, 0, 0.1);
  }
  .menu ul li:focus {
	outline: none;
  }
  @media screen and (max-width: 900px) and (min-width: 400px) {
	body {
	  padding-left: 90px;
	}
	.menu {
	  width: 90px;
	}
	.menu .avatar {
	  padding: 0.5em;
	  position: relative;
	}
	.menu .avatar img {
	  width: 60px;
	}
	.menu .avatar h2 {
	  opacity: 0;
	  position: absolute;
	  top: 50%;
	  left: 100px;
	  margin: 0;
	  min-width: 200px;
	  border-radius: 4px;
	  background: rgba(0, 0, 0, 0.4);
	  transform: translate3d(-20px, -50%, 0);
	  transition: all 0.15s ease-in-out;
	}
	.menu .avatar:hover h2 {
	  opacity: 1;
	  transform: translate3d(0px, -50%, 0);
	}
	.menu ul li {
	  height: 60px;
	  background-position: center center;
	  background-size: 30px auto;
	  position: relative;
	}
	.menu ul li span {
	  opacity: 0;
	  position: absolute;
	  background: rgba(0, 0, 0, 0.5);
	  padding: 0.2em 0.5em;
	  border-radius: 4px;
	  top: 50%;
	  left: 80px;
	  transform: translate3d(-15px, -50%, 0);
	  transition: all 0.15s ease-in-out;
	}
	.menu ul li span:before {
	  content: '';
	  width: 0;
	  height: 0;
	  position: absolute;
	  top: 50%;
	  left: -5px;
	  border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-right: 5px solid rgba(0, 0, 0, 0.5);
	  transform: translateY(-50%);
	}
	.menu ul li:hover span {
	  opacity: 1;
	  transform: translate3d(0px, -50%, 0);
	}
  }
  @media screen and (max-width: 400px) {
	body {
	  padding-left: 0;
	}
	.menu {
	  width: 230px;
	  box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
	  transform: translate3d(-230px, 0, 0);
	  transition: all 0.3s ease-in-out;
	}
	.menu .smartphone-menu-trigger {
	  width: 40px;
	  height: 40px;
	  position: absolute;
	  left: 100%;
	  background: #5bc995;
	}
	.menu .smartphone-menu-trigger:before,
	.menu .smartphone-menu-trigger:after {
	  content: '';
	  width: 50%;
	  height: 2px;
	  background: #fff;
	  border-radius: 10px;
	  position: absolute;
	  top: 45%;
	  left: 50%;
	  transform: translate3d(-50%, -50%, 0);
	}
	.menu .smartphone-menu-trigger:after {
	  top: 55%;
	  transform: translate3d(-50%, -50%, 0);
	}
	.menu ul li {
	  padding: 1em 1em 1em 3em;
	  font-size: 1.2em;
	}
	.menu:focus {
	  transform: translate3d(0, 0, 0);
	  box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
	}
	.menu:focus .smartphone-menu-trigger {
	  pointer-events: none;
	}
  }
  
  /*-----------------main content-------------*/

  .dboard_card{
	  height: 400px;
  }